<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bqlab.themelab">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true">

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activity.MainActivity" />

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/MainThemeNoActionbar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TutorialActivity"
            android:parentActivityName=".activity.OldMainActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".activity.ContactActivity"
            android:parentActivityName=".activity.OldMainActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".activity.EventActivity"
            android:parentActivityName=".activity.OldMainActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".activity.SettingActivity"
            android:parentActivityName=".activity.OldMainActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".activity.SelectActivity"
            android:theme="@style/MainThemeNoActionbar" />
        <activity
            android:name=".activity.StartActivity"
            android:theme="@style/MainThemeNoActionbar" />
        <activity
            android:name=".activity.SearchActivity"
            android:theme="@style/SearchTheme" />
        <activity
            android:name=".activity.ReportActivity"
            android:parentActivityName=".activity.OldMainActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".activity.PreviewActivity"
            android:theme="@style/PreviewTheme" />
        <activity
            android:name=".activity.NoticeActivity"
            android:parentActivityName=".activity.EventActivity"
            android:theme="@style/MainTheme" />

        <service android:name=".firebase.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>